Magic 271485
Revision Verdi_X-2025.06-SP2

; Window Layout <x> <y> <width> <height> <signalwidth> <valuewidth>
viewPort 0 11 3440 570 274 65

; File list:
; openDirFile [-d delimiter] [-s time_offset] [-rf auto_bus_rule_file] path_name file_name
openDirFile -d / "" "/home/anderson.pereira/CIExpert/git-pessoal/assignments/vending_machine/build/sim_rtl/waves.fsdb"

; file time scale:
; fileTimeScale ### s|ms|us|ns|ps

; signal spacing:
signalSpacing 5

; windowTimeUnit is used for zoom, cursor & marker
; waveform viewport range
zoom 0.000000 783760.000000
cursor 10000.000000
marker 0.000000

; user define markers
; userMarker time_pos marker_name color linestyle
; visible top row signal index
top 0
; marker line index
markerPos 8

; rename signal list
; addRenameSig new_name org_name
activeDirFile "" "/home/anderson.pereira/CIExpert/git-pessoal/assignments/vending_machine/build/sim_rtl/waves.fsdb"

addRenameSig "/tb_vending/dut/Comparator" "/tb_vending/dut/coin_in[1:0]"

; event list
; addEvent event_name event_expression
; curEvent event_name



COMPLEX_EVENT_BEGIN


COMPLEX_EVENT_END



; toolbar current search type
; curSTATUS search_type
curSTATUS ByChange


addGroup "TopLevel"
activeDirFile "" "/home/anderson.pereira/CIExpert/git-pessoal/assignments/vending_machine/build/sim_rtl/waves.fsdb"
addSignal -h 16 /tb_vending/dut/clk
addSignal -h 16 -holdScope rst
addSignal -h 16 -holdScope confirm
addSignal -h 16 -holdScope cancel
addSignal -h 16 -UNSIGNED -holdScope Comparator
addSignal -h 16 -UNSIGNED -holdScope sel_item[1:0]
addSignal -h 16 -holdScope dispense
addSignal -h 16 -holdScope error
addSignal -h 16 -UNSIGNED -UDEC -holdScope change_out[7:0]
addSignal -h 16 -UNSIGNED -UDEC -holdScope display[7:0]
addSignal -h 16 -UNSIGNED -holdScope state_out[2:0]
addGroup "Comparator" -e FALSE
addSignal -h 16 -UNSIGNED -HEX /tb_vending/dut/u_comparator/credit[7:0]
addSignal -h 16 -holdScope item_info
addSignal -h 16 -holdScope can_sell
addGroup "Control Unit" -e FALSE
addSignal -h 16 /tb_vending/dut/u_control_unit/clk
addSignal -h 16 -holdScope rst
addSignal -h 16 -holdScope confirm
addSignal -h 16 -holdScope cancel
addSignal -h 16 -holdScope can_sell
addSignal -h 16 -UNSIGNED -holdScope coin_in[1:0]
addSignal -h 16 -holdScope credit_load
addSignal -h 16 -holdScope credit_cancel
addSignal -h 16 -holdScope dispense
addSignal -h 16 -holdScope error
addSignal -h 16 -holdScope mem_read
addSignal -h 16 -holdScope mem_write
addSignal -h 16 -UNSIGNED -holdScope current_state[2:0]
addGroup "Credit Reg" -e FALSE
addSignal -h 16 /tb_vending/dut/u_credit_reg/clk
addSignal -h 16 -holdScope rst
addSignal -h 16 -holdScope credit_load
addSignal -h 16 -holdScope cancel
addSignal -h 16 -UNSIGNED -holdScope coin_in[1:0]
addSignal -h 16 -UNSIGNED -HEX -holdScope credit[7:0]
addGroup "Memory" -e FALSE
addSignal -h 16 /tb_vending/dut/u_memory/clk
addSignal -h 16 -holdScope rst
addSignal -h 16 -holdScope mem_read
addSignal -h 16 -holdScope mem_write
addSignal -h 16 -UNSIGNED -holdScope sel_item[1:0]
addSignal -h 16 -holdScope item_info
addGroup "Subtractor" -e FALSE
addSignal -h 16 -UNSIGNED -HEX /tb_vending/dut/u_subtractor/credit[7:0]
addSignal -h 16 -holdScope item_info
addSignal -h 16 -UNSIGNED -HEX -holdScope change[7:0]
addGroup "G7" -e FALSE

; getSignalForm Scope Hierarchy Status
; active file of getSignalForm
activeDirFile "" "/home/anderson.pereira/CIExpert/git-pessoal/assignments/vending_machine/build/sim_rtl/waves.fsdb"

GETSIGNALFORM_SCOPE_HIERARCHY_BEGIN
getSignalForm close

"/tb_vending"
"/tb_vending/dut"
"/tb_vending/dut/u_control_unit"
"/tb_vending/dut/u_subtractor"

SCOPE_LIST_BEGIN
"/tb_vending"
"/tb_vending/dut/u_control_unit"
"/tb_vending/dut"
"/tb_vending/dut/u_subtractor"
"/tb_vending/dut/u_comparator"
"/tb_vending/dut/u_credit_reg"
"/tb_vending/dut/u_memory"
SCOPE_LIST_END

GETSIGNALFORM_SCOPE_HIERARCHY_END


